.content {
    display: flex;
}
div{
    font-size: 113%;
    color: #707070;
}
.row {
    margin-top: 3%;
}
.ion{
    margin-right: 10%;
}
span{
    margin-left: 4%;

}
h2{
    font-weight: 700;
    font-size: 157%;
}
.border{
    background: #E4E4E5;
    border: 1px solid #707070;
    border-radius: 12px;
    height: 31%;
    width: 87%;
    margin-left: 6%;
    padding: 3%;
    overflow-y: auto;
    display: inline-block;
}
h4{
    
    font-size: 149%;
    margin: 3%;
    color: #707070;
}
.service-logo {
    border: 2px solid darkgray;
    border-radius: 50%;
    font-size: 406%;
}

.service-img{
    border: 2px solid darkgray;
    border-radius: 50%;
    width: 30%;
}

.swiper-slide {
    font-size: 17px !important;
}

ion-slide {
    width: 100% !important;
    margin-left: 2%;
    margin-top: 3%;
}
.service-div {
    width: 25%;
}
.mechanic-logo {
    border: 1px solid darkgray;
    border-radius: 50%;
    width: 50%;
}