<ion-content>
  <app-tracking-map *ngIf="location" [userLocation]="location" (changedLocation)="updatedLocation($event)"></app-tracking-map>

  <div class="appt-div">
    <ion-icon class="phone-icon" src="../../../../../assets/icon/phone.svg"></ion-icon>
    <p>Contact {{user}}</p>
    <ion-icon class="message-icon" src="../../../../../assets/icon/message.svg"></ion-icon>
  </div>
  <button [ngClass]="{'cancel-button': userRole === '2', 'user-cancel-button' : userRole === '3' }" (click)="onCancel()">Cancel Appointment</button>
  <button class="cancel-button" *ngIf="userRole === '2'" (click)="onStart()" [disabled]="disabled">Start Service</button>
</ion-content>