<ion-content>
  <app-tracking-map *ngIf="location" [userLocation]="location" (changedLocation)="updatedLocation($event)"></app-tracking-map>

  <div class="appt-div">
    <ion-icon class="phone-icon" src="../../../../../assets/icon/phone.svg"></ion-icon>
    <p>Contact {{user}}</p>
    <ion-icon class="message-icon" src="../../../../../assets/icon/message.svg"></ion-icon>
  </div>
  <button (click)="onCancel()">Cancel Appointment</button>
  <button *ngIf="user == 'User'" (click)="onStart()" [disabled]="disabled">Start Service</button>
</ion-content>