.content{
    display: flex;
    color: #707070;
}
img{
    width: 30%;
    height: 13%;
    margin-left: 3%;
}
h1{
    color: #707070;
    margin-left: 2%;
}
// .app-div{
//     border: 1px solid #707070;
//     border-radius: 25px;
//     display: flex;
//     width: 88%;
//     margin-left: 4%;
//     margin-bottom: 3%;
//     background: #E4E4E4;
// }