
<ion-content>
  <div class="content">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="base/tabs/UserProfile"></ion-back-button>
    </ion-buttons>
    <h2> Payment Method</h2>
  </div>
  <h1>We Accept</h1>
  <div class="app-div">
    <img src="../../../assets/Easypaisa New Icon Logo.png"><br>
  </div>
  <div class="app-div">
    <img src="../../../assets/jazz new.png"><br>
  </div>
  <div class="app-div">
    <img src="../../../assets/Hbl.svg"><br>
  </div>
  <div class="app-div">
    <img src="../../../assets/images.png">
  </div>
</ion-content>
