
<ion-content>
  <div class="content">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="base/tabs/UserProfile"></ion-back-button>
    </ion-buttons>
    <h2> My Garage </h2>
  </div>
 
  <div *ngFor="let automobile of automobileList">
    <div class="row" (click)='onclick(automobile.id)'>
      <div class ='col-4'>
        <img src ='../../../../assets/car.jpg'>
      </div>
      <div class ='col-8'>
        <p>Name: {{automobile.car_name}}</p>
        <p>Type: {{automobile.type}}</p>
      </div>
    </div>
  </div>
  
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">  
    <ion-fab-button (click)="onAdd()">  
      <ion-icon name="add"></ion-icon>  
    </ion-fab-button>  
  </ion-fab>  

</ion-content>