
<ion-content>
  <div class="content">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="base/tabs/UserHome"></ion-back-button>
    </ion-buttons>
    <h2> My Garage </h2>
  </div>
 
  <div (click)='onclick()'>
    <div class="row">
      <div class ='col-4'>
        <img src ='../../../../assets/car.jpg'>
      </div>
      <div class ='col-8'>
        <p>Name: Bently Flying Spur</p>
        <p>Type: Car</p>
      </div>
    </div>

    <div class="row">
      <div class ='col-4'>
        <img src ='../../../../assets/gt.jpg'>
      </div>
      <div class ='col-8'>
        <p>Name: Mercedes Amg GT </p>
        <p>Type: Car</p>
      </div>
    </div>
  </div>
  
</ion-content>