ion-content {
    height: 76%;
    top: 2%;
}

.map-searchbar {
    outline: 'none';
    border: '1px solid #707070';
    left: 15%;
    top: 3%;
    background: white;
    border-radius: 3%;
    height: 8%;
    width: 67%;
}