<ion-content>
  <ion-tabs *ngIf="role == 3">
    <ion-tab-bar>
      <ion-tab-button tab ='UserHome'>
        <ion-icon name="home"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab ='UserProfile'>
        <ion-icon name="person"></ion-icon>
        <!-- <ion-icon src= '../../../assets/icon/profile.svg'> </ion-icon>-->

      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>

  <ion-tabs *ngIf="role == 2">
    <ion-tab-bar>
      <ion-tab-button tab ='UstaadHome'>
        <ion-icon name="home"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab ='UstaadProfile'>
        <ion-icon name="person"></ion-icon>
        <!-- <ion-icon src= '../../../assets/icon/profile.svg'> </ion-icon>-->

      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>

</ion-content>
