.content{
    display: flex;
    color: #707070;
}

.pass-form {
    color: #707070;
    margin-left: 5%;
    margin-top: 12%;
}

.form-div {
    margin-bottom: 8%;
    label {
        padding-top: 3%;
        font-size: 110%;
        font-weight: 600;
    }
}

.pass-input {
    border: 1px solid #707070;
    border-radius: 13px;
    width: 59%;
    margin-left: 25%;
    margin-top: 3%;
}

.update-button {
    text-align: center;
    background-color: #72726f;
    border-radius: 15px;
    width: 34%;
    height: 43px;
    font-size: 91%;
    margin: 32%;
    margin-top: 21%;
}