<ion-content>
  <div class="content">
    <ion-buttons slot="start">
        <ion-back-button text="" (click)="onBack()" defaultHref="customer/profile/profile-setting"></ion-back-button>
    </ion-buttons>
    <h2>Change Password</h2>
  </div>

  <form [formGroup]="changePasswordForm" class="pass-form">
    <div class="form-div">
      <label>*Old Password</label><ion-input type="password" class="pass-input" pattern="[a-zA-Z0-9]{8,}" formControlName="old_pass" placeholder="Old Password"></ion-input>
      <div *ngIf="changePasswordForm.controls['old_pass'].errors && !changePasswordForm.controls['old_pass'].untouched">
        <div [hidden]="!changePasswordForm.controls['old_pass'].errors.required" style="font-size: small;color: red;margin-left: 5%;">
          Field Value is Required!
        </div>
      </div>
    </div>
    <div class="form-div">
      <label>*New Password</label><ion-input type="password" class="pass-input" pattern="[a-zA-Z0-9]{8,}" formControlName="new_pass" placeholder="New Password"></ion-input>
      <div *ngIf="changePasswordForm.controls['new_pass'].errors && !changePasswordForm.controls['new_pass'].untouched">
        <div [hidden]="!changePasswordForm.controls['new_pass'].errors.required" style="font-size: small;color: red;margin-left: 5%;">
          Field Value is Required!
        </div>
      </div>
    </div>
    <div class="form-div">
      <label>*Re-type New Password</label><ion-input type="password" class="pass-input" formControlName="confirm_pass" placeholder="Re-type Password"></ion-input>
      <div *ngIf="changePasswordForm.controls['confirm_pass'].errors && !changePasswordForm.controls['confirm_pass'].untouched">
        <div [hidden]="!changePasswordForm.controls['confirm_pass'].errors.required" style="font-size: small;color: red;margin-left: 5%;">
          Field Value is Required!
        </div>
      </div>
    </div>
    <button type="submit" (click)="onUpdate()" class="update-button">Update</button>
  </form>
</ion-content>