.header-logo{
    position: absolute;
    left:50%;
    transform: translatex(-50%);
    text-align: center;
    --padding-top: 10px;
    --padding-bottom: 10px;
    z-index: 100;
}

.logo-text {
    color: #0054FE;
    font-weight: 600;
    font-size: 22px;
    margin: 0%;
}