
  <ion-content>
    <div class="content">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="base/tabs/UserHome"></ion-back-button>
      </ion-buttons>
      <h2> Profile Settings</h2>
    </div>

    <div class="row"> 
      <div class="col-1"></div>
      <div class="col-10">
        <div class="ion-text-center">
          <ion-icon class="service-logo ion-text-center" name="person"></ion-icon>
          <ion-icon class ="plus" src='../../../../../assets/icon/Icon awesome-plus-circle.svg'></ion-icon>
        </div>
      </div>
      <div class="col-1"></div>
      
    </div>
    <div class ="p">
      <p>Name: Muhammad Noman</p>
      <p>Mobile Number: 090338028</p>
      <p>Email: abcde@gmail</p>
      <p>Change password:******</p>
      <p>New password:******</p>
    </div>
</ion-content>
