.content{
    display: flex;
    color: #707070;
}
.service-logo {
    border: 2px solid darkgray;
    border-radius: 50%;
    font-size: 519%;
    margin-top: 8%;
}
.plus{
    margin-right: 40px;
}
.p{
    color: #707070;
    margin-left: 5%;
    margin-top: 11%;
    font-size: 130%;

}