
  <ion-content>
    <div class="content">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="base/tabs/profile"></ion-back-button>
      </ion-buttons>
      <h2> Profile Settings</h2>
    </div>
    <div style ='text-align:center;'>
      <ion-icon class="service-logo" name="person"></ion-icon>
      <ion-icon class ="plus" src='../../../../../assets/icon/Icon awesome-plus-circle.svg'></ion-icon>
    </div>
    <div class ="p">
      <p>Name: Muhammad Noman</p>
      <p>Mobile Number: 090338028</p>
      <p>Email: abcde@gmail</p>
      <p>Password:******</p>
    </div>
</ion-content>
