<ion-content>
  <h4>
    Create account
  </h4>
  <form >
    <ion-row>
      <ion-col>
        <ion-input type="text" placeholder="*First Name"></ion-input>
        <div class="input-line"></div>
      </ion-col>
    </ion-row>
    <ion-input type="text" placeholder="*Last Name"></ion-input>
    <ion-input type="number" placeholder="*Mobile"></ion-input>
    <ion-input type="email" placeholder="*Email"></ion-input>
    <ion-input type="password" placeholder="*Password"></ion-input>
    <ion-input type="password" placeholder="*Confirm Password"></ion-input>
  </form>
</ion-content>
