<ion-content>
  
    <div class="img-div">
    <img style="width:55%;" src="../../../../assets/icon/UstaadG_logo.png">
    <!-- <h4>Sign In</h4> -->
  </div>
  <h4>
    Create account
  </h4>
  <form [formGroup]="signUpForm" (submit)="onSubmit()">
    <ion-row>
      <ion-col>
        <ion-input type="text" placeholder="*First Name" autocapitalize="on" formControlName="first_name"></ion-input>
        <div class="input-line"></div>
        <div *ngIf="signUpForm.controls['first_name'].errors && !signUpForm.controls['first_name'].untouched">
          <div [hidden]="!signUpForm.controls['first_name'].errors.required" style="font-size: small;color: red;margin-left: 5%;">
            Field Value is Required!
          </div>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-input type="text" placeholder="Last Name" autocapitalize="on" formControlName="last_name"></ion-input>
        <div class="input-line"></div>
        <!-- <div *ngIf="signUpForm.controls['lastname'].errors && !signUpForm.controls['lastname'].untouched">
          <div [hidden]="!signUpForm.controls['lastname'].errors.required" style="font-size: small;color: red;margin-left: 5%;">
            Field Value is Required!
          </div>
        </div> -->
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-input type="tel" pattern="[0-9]{11}" placeholder="*Mobile e.g 03123456789" formControlName="mobile"></ion-input>
        <div class="input-line"></div>
        <div *ngIf="signUpForm.controls['mobile'].errors && !signUpForm.controls['mobile'].untouched">
          <div [hidden]="!signUpForm.controls['mobile'].errors.required" style="font-size: small;color: red;margin-left: 5%;">
            Field Value is Required!
          </div>
        </div>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col>
        <ion-input type="email" placeholder="*Email" formControlName="email"></ion-input>
        <div class="input-line"></div>
        <div *ngIf="signUpForm.controls['email'].errors && !signUpForm.controls['email'].untouched">
          <div [hidden]="!signUpForm.controls['email'].errors.required" style="font-size: small;color: red;margin-left: 5%;">
            Field Value is Required!
          </div>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-input type="password" placeholder="*Password" pattern="[a-zA-Z0-9]{8,}" formControlName="password"></ion-input>
        <div class="input-line"></div>
        <div *ngIf="signUpForm.controls['password'].errors && !signUpForm.controls['password'].untouched">
          <div [hidden]="!signUpForm.controls['password'].errors.required" style="font-size: small;color: red;margin-left: 5%;">
            Field Value is Required!
          </div>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
    <ion-col>
      <ion-input type="password" placeholder="*Confirm Password" formControlName="confirm_password"></ion-input>
      <div class="input-line"></div>
      <div *ngIf="signUpForm.controls['confirm_password'].errors && !signUpForm.controls['confirm_password'].untouched">
        <div [hidden]="!signUpForm.controls['confirm_password'].errors.required" style="font-size: small;color: red;margin-left: 5%;">
          Field Value is Required!
        </div>
      </div>
    </ion-col>
    </ion-row>
    <button type="submit">
      Sign Up
    </button>
  </form>
  <p>Already have an account? <a href="auth/sign-in" style="color: rgb(225, 187, 16) ">Sign in</a></p>

</ion-content>
