

<ion-content>
  <div>
    <h4>Sign In</h4>

    <form [formGroup]="signInForm" (submit)="onSubmit()">
      <ion-row>
        <ion-col>
          <ion-input type="tel" pattern="[0-9]{11}" placeholder="*Mobile e.g 03123456789" formControlName="username"></ion-input>
          <div class="input-line"></div>
          <div *ngIf="signInForm.controls['username'].errors && !signInForm.controls['username'].untouched">
            <div [hidden]="!signInForm.controls['username'].errors.required" style="font-size: small;color: red;margin-left: 5%;">
              Field Value is Required!
            </div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-input type="password" placeholder="*Password" pattern="[a-zA-Z0-9]{8,}" formControlName="password"></ion-input>
          <div class="input-line"></div>
          <div *ngIf="signInForm.controls['password'].errors && !signInForm.controls['password'].untouched">
            <div [hidden]="!signInForm.controls['password'].errors.required" style="font-size: small;color: red;margin-left: 5%;">
              Field Value is Required!
            </div>
          </div>
        </ion-col>
      </ion-row>
      <button type="submit">
        Sign In
      </button>
    </form>
    <p>Forget password? <a href= ''>Reset</a></p>
    <p>Don't have an account? <a href= 'auth/select-role'>Sign up</a></p>

  </div>
</ion-content>