.img-div{
    text-align: center;
    width: 100%;
    margin-top: 19%;
}

.input-line{
    border-top: 1px solid #707070;
    margin-left: 11px;
    margin-right: 32px;
}
button{
    background-color: white;
    border: 1px solid #707070;
    color: #707070;
    border-radius: 18px;
    width: 58%;
    margin-top: 30px;
    padding: 9px;
    margin-left: 74px;
}
form{
    margin-top: 21%;
    margin-left: 19px;
    margin-right: 8px;
}
h4{
    margin-top: 220px;
    margin-bottom: 10px;
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
}
p{
    color: #707070;
    text-align: center;
}