.content {
    display: flex;
    color: #707070;
    font-size: 113%;
}
.col-12{
    width: 100%;
}


.app-div {
    border: 1px solid darkgray;
    border-radius: 25px;
    display: flex;
    width: 85%;
    margin-left: 4%;
    background: #E4E4E4;
}

p {
    font-size: 95%;
    margin-left: 5%;
    color: #707070;
}


