
<ion-content>
  <div class="content">
    <ion-buttons slot="start">
        <ion-back-button text="" defaultHref="base/tabs/UserProfile"></ion-back-button>
    </ion-buttons>
    <h2>Addresses</h2>
  </div>
   
      <div class="row app-div">
        <div class="col-12"> 
          <p>Address Label(Home)</p>
          <p>Address </p>
        </div>  
  </div>
  
 
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">  
    <ion-fab-button (click)="onCreateAppointment()">  
      <ion-icon name="add"></ion-icon>  
    </ion-fab-button>  
  </ion-fab>  


</ion-content>
