<ion-content>
<div class="content">
  <ion-buttons slot="start">
    <ion-back-button defaultHref="base/tabs/home"></ion-back-button>
  </ion-buttons>
  <h3> Profile</h3>
</div>
<div class= "option">
  <div>
    <ion-icon src= '../../../assets/icon/profile.svg'> </ion-icon>
    <span>Profile Settings</span>
  </div>
  <div>
    <ion-icon name= 'notifications'></ion-icon>
    <span>Notifications</span>
  </div>
  <div>
    <ion-icon name="pin"></ion-icon>
    <span>Addresses</span>
  </div>
  <div>
    <!-- <ion-icon src= '../../../assets/icon/profile.svg'> </ion-icon> -->
    <!-- <ion-icon ios="ios-card"></ion-icon> -->
    <!-- <ion-icon ios="ios-card-outline" name='card'></ion-icon> -->
    <ion-icon name="card"></ion-icon>
    <span>Card & Payment</span>
  </div>
  <div>
    <!-- <ion-icon src= '../../../assets/icon/profile.svg'> </ion-icon> -->
    <ion-icon name="car"></ion-icon>
    <span>Automobile Details</span>
  </div>
  <div>
    <!-- <ion-icon src= '../../../assets/icon/profile.svg'> </ion-icon> -->
    <ion-icon name="list-box"></ion-icon>
    <span>Appointment History</span>
  </div>
  <div>
    <!-- <ion-icon src= '../../../assets/icon/profile.svg'> </ion-icon> -->
    <ion-icon name="return-left"></ion-icon>
    <span>Sign out</span>
  </div>
</div>

</ion-content>
