<ion-content>
<div class="content">
  <ion-buttons slot="start">
    <ion-back-button defaultHref="base/tabs/UserHome"></ion-back-button>
  </ion-buttons>
  <h2> Profile</h2>
</div>
<div class= "option">
  <div (click)= "onClickProfile()">
    <ion-icon src= '../../../assets/icon/profile.svg'> </ion-icon>
    <span>Profile Settings</span>
  </div>
  <div (click)= "onClickNotification()">
    <ion-icon src ='../../../../assets/icon/notification-line.svg'></ion-icon>
    <span>Notifications</span>
  </div>
  <div (click)= "onClickAddresses()">
    <ion-icon src ='../../../../assets/icon/location-pin.svg'></ion-icon>
    <span>Addresses</span>
  </div>
  <div> <!-- (click)= "onClickCard()"-->
    <ion-icon src ='../../../../assets/icon/card-outline.svg'></ion-icon>
    <span>Card & Payment</span>
  </div>
  <div (click)="onClickAutomobile()">
    <ion-icon src ='../../../../assets/icon/car.svg'></ion-icon>
    <span>Automobile Details</span>
  </div>
  <div (click)= "onClickAppointment()">
    <ion-icon src ='../../../../assets/icon/appointment.svg'></ion-icon>
    <span>Appointment History</span>
  </div>
  <div (click)= 'onClickSignOut()' >
    <ion-icon src ='../../../../assets/icon/sign-out-line.svg'></ion-icon>
    <span>Sign out</span>
  </div>
</div>

</ion-content>
