

<ion-content>
  <div class="content">
    <ion-buttons slot="start">
        <ion-back-button text="" defaultHref="base/tabs/UserHome"></ion-back-button>
    </ion-buttons>
    <h2>Appointment Detail</h2>
  </div>
  <div class="row"> 
    <div class="col-1"></div>
    <div class="col-10">
      <div class="ion-text-center">
        <ion-icon *ngIf="!serviceDetail?.image" class="service-logo ion-text-center" name="person"></ion-icon>
        <img *ngIf="serviceDetail?.image" class="service-img" [src]="prefix + serviceDetail.image">
      </div>
    </div>
    <h4 class="ion-text-center">{{serviceDetail?.service_name}}</h4>
  </div>

  <div class="info">
    <ion-icon name="calendar"></ion-icon>
    
  </div>
  <div class="details">
    <h4>Mechanic Details</h4>
  
    <div>
      <div class="row app-div">
        <div class="col-2">
          <ion-icon class="app-image" name="person"></ion-icon>
        </div>
        <div class="col-4">
             
          <p>Service Name</p>
          <p>Expertise</p>
        </div>
        <div text-wrap class="col-6 star-div">
          <ion-icon style="color:gold;" name="star"></ion-icon>
          <ion-icon style="color:gold;" name="star"></ion-icon>
          <ion-icon style="color:gold;" name="star"></ion-icon>
          <ion-icon style="color:gold;" name="star-outline"></ion-icon>
          <ion-icon style="color:gold;" name="star-outline"></ion-icon>
          
        </div>
      </div>
    </div>
  </div>

</ion-content>
