.content{
    color: #707070;
    margin-left: 4%;
}

h3, h4 {
    font-weight: 600;
}

::ng-deep .searchbar-input-container.sc-ion-searchbar-md{
    // border-radius: 25px;
    width: 95%;
    // border: 1px solid darkgray;

    input{
        width: 100%;
        border-radius: 25px;
        border: 1px solid darkgray;
    }
}

.service-logo {
    border: 1px solid darkgray;
    border-radius: 50%;
    font-size: 345%;
}

.service-div {
    width: 32%;
    text-align: center;
}
.app-div {
    border: 1px solid darkgray;
    border-radius: 25px;
    display: flex;
    width: 85%;
    margin-left: 4%;
}
.app-image {
    border: 1px solid darkgray;
    border-radius: 50%;
    font-size: 221%;
    margin: 10px;
    margin-top: 14px;
}

p {
    font-size: 80%;
}
.star-div{
    margin-left: 9%;
    margin-top: 3%;
}

.see-all-text {
    float: right;
    margin-right: 5%;
    font-size: 54%;
    text-decoration: underline;
}

.outer-div {
    border: 1px solid darkgray;
    border-radius: 25%;
    display: flex;
    width: 85%;
    font-size: 90%;
    margin-left: 4%;
}
button{
    text-align: center;
    margin-top: 23%;
    margin-right: 33%;
}