.content{
    color: #707070;
    margin-left: 4%;
}

h3, h4 {
    font-weight: 600;
}

::ng-deep .searchbar-input-container.sc-ion-searchbar-md{
    // border-radius: 25px;
    width: 95%;
    // border: 1px solid darkgray;

    input{
        width: 100%;
        border-radius: 25px;
        border: 1px solid darkgray;
    }
}

.service-logo {
    border: 1px solid darkgray;
    border-radius: 50%;
    width: 60%;
    height: 51%;
    // font-size: 345%;
}

.service-div {
    width: 32%;
    text-align: center;
}
.app-div {
    border: 1px solid #707070;
    border-radius: 25px;
    display: flex;
    width: 85%;
    margin-left: 4%;
    margin-bottom: 8%;
}
.app-image {
    border: 1px solid darkgray;
    border-radius: 50%;
    font-size: 221%;
    margin: 10px;
    margin-top: 14px;
}

// p {
//     font-size: 80%;
//     margin-top: 5%;
// }

.service-name2 {
    margin-top: 20%;
}

.star-div{
    margin-left: 9%;
    margin-top: 3%;
}

.see-all-text {
    float: right;
    margin-right: 5%;
    font-size: 54%;
    text-decoration: underline;
}

.appt-div {
    border: 1px solid darkgray;
    border-radius: 20px;
    width: 85%;
    font-size: 110%;
    margin-left: 4%;
    text-align: center;
}
button{
    text-align: center;
    background-color:#28ba62;
    padding: 2%;
    border-radius: 15px;
    margin-bottom: 2%;
}