.content{
    color: #707070;
    margin-left: 4%;
    background-color: white;
}
.logo{
    width: 45%;
    height: 45px;
    margin-top: 2%;
}
h3, h4 {
    font-weight: 600;
}

::ng-deep .searchbar-input-container.sc-ion-searchbar-md{
    // border-radius: 25px;
    width: 95%;
    // border: 1px solid darkgray;

    input{
        width: 100%;
        border-radius: 25px;
        border: 1px solid darkgray;
    }
}

.swiper-slide {
    font-size: 21px !important;
}

ion-slides {
    margin-bottom: -5% !important;
}

ion-slide {
    width: 26% !important;
    margin: 1%;
}

.service-logo {
    border: 1px solid darkgray;
    border-radius: 50%;
    width: 78%;
}

.service-name {
    font-size: 68%;
}

.service-div {
    text-align: center;
}

.app-div {
    border: 1px solid #707070;
    border-radius: 25px;
    display: flex;
    width: 85%;
    margin-left: 4%;
    margin-bottom: 3%;
    background: #E4E4E4;
}

.app-image {
    border: 1px solid darkgray;
    border-radius: 50%;
    font-size: 221%;
    margin: 10px;
    margin-top: 24px;
}



.service-name2 {
    margin-top: 20%;
}

.star-div{
    margin-left: 24%;
    padding-top: 4%;
}

.see-all-text {
    float: right;
    margin-right: 5%;
    font-size: 54%;
    text-decoration: underline;
    margin-top: -2%;
}

.appt-div {
    border: 1px solid #707070;
    border-radius: 25px;
    width: 85%;
    font-size: 87%;
    margin-left: 4%;
    text-align: center;
    background: #E4E4E4;
}
button{
    text-align: center;
    background-color: rgb(223, 192, 55);
    padding: 2%;
    border-radius: 15px;
    margin-bottom: 3%;
    width: 47%;
}