<ion-content>
  <div class="content">
    <h3>Ustaad G</h3>
    <ion-searchbar showCancelButton="focus" placeholder='Search Service'></ion-searchbar>
    <h4>Services</h4>
    <div style="display:flex;">  
      <div class="service-div">
        <ion-icon style="margin-left: 10px;" class="service-logo" name="person"></ion-icon>
        <p class="service-name">Service Name</p>
      </div>        
      <div class="service-div">
        <ion-icon class="service-logo" name="person"></ion-icon>
        <p class="service-name">Service Name</p>
      </div>
      <div class="service-div">
        <ion-icon class="service-logo" name="person"></ion-icon>
        <p class="service-name">Service Name</p>
      </div>
    </div>
    <div>
      <h4>Recent Appointments</h4>
      <div>
        <div class="row app-div">
          <div class="col-2">
            <ion-icon class="app-image" name="person"></ion-icon>
          </div>
          <div class="col-4">
            <p>Service Name</p>
            <p>Amount</p>
          </div>
          <div class="col-6 star-div">
            <ion-icon style="color:gold;" name="star"></ion-icon>
            <ion-icon style="color:gold;" name="star"></ion-icon>
            <ion-icon style="color:gold;" name="star"></ion-icon>
            <ion-icon style="color:gold;" name="star-outline"></ion-icon>
            <ion-icon style="color:gold;" name="star-outline"></ion-icon>
            <p>Date</p>
          </div>
        </div>
      </div>
      <p class="see-all-text">See All</p>
    </div>
    <div>
      <h4>Appointments</h4>
      
      <div class="appt-div">
       <p>Car needs a repairing? Create an appointment.</p>
       
        <button>Create an Appointment</button>
      
      </div>
      
    </div>
  </div>
</ion-content>
