.content{
    display: flex;
    color: #707070;
}

ion-select .select-text {
    color: #707070 !important;
}

.create-app {
    width: 76%;
    text-align: center;
    margin: 8%;
    margin-left: 11%;
}

ion-select, ion-input, ion-textarea, ion-datetime {
    background: #E4E4E5;
    border: 1px solid #707070;
    border-radius: 12px;
}

ion-row {
    margin-top: 15%;
}

button{
    text-align: center;
    background-color: rgb(114, 114, 111);
    padding: 2%;
    border-radius: 15px;
    margin-bottom: 3%;
    width: 40%;
    margin-top: 15%;
    height: 44px;
    font-size: larger;
}

.datepicker {
    background-color: gray;
}