.content{
    display: flex;
    color: #707070;
}
.profile-logo {
    border: 2px solid darkgray;
    border-radius: 50%;
    font-size: 749%;
    margin-top: 8%;
    color: #696A6B;
}

.rate-star {
    display: flex;
    margin: 12%;
    margin-left: 35%;
}

.star-div {
    font-size: 150%;
}

h4{
    text-align: center;
}
.feedback{
    margin-left: 1%;
}

ion-textarea {
    background: lightgray;
    width: 78%;
    margin: 10%;
    height: 16%;
    padding: 2%;
}

button {
    text-align: center;
    background-color: #707070;
    padding: 2%;
    border-radius: 22px;
    width: 40%;
    margin-top: 5%;
    height: 40px;
    font-size: 15px;
    margin-left: 30%;
}