
<ion-content>

  <div class="row"> 
    <div class="col-1"></div>
    <div class="col-10 ion-text-center">
      <div class="profile-div">
        <ion-icon  class="profile-logo ion-text-center" name="person"></ion-icon> <!--*ngIf="!userData?.image"-->
        <!-- <ion-icon *ngIf="userData?.image" class="profile-logo ion-text-center" [src]="prefix + userData?.image"></ion-icon> -->
       
      </div>
    </div>
    <div class="col-1"></div>
    
  </div>

    <h4>
      Name
    </h4>
    <div text-wrap class="star-div">
      <ion-icon style="color:rgb(223, 192, 55);" name="star"></ion-icon>
      <ion-icon style="color:rgb(223, 192, 55);" name="star"></ion-icon>
      <ion-icon style="color:rgb(223, 192, 55);" name="star"></ion-icon>
      <ion-icon style="color:rgb(223, 192, 55);" name="star-outline"></ion-icon>
      <ion-icon style="color:rgb(223, 192, 55);" name="star-outline"></ion-icon>
     
    </div>
  <h4 class="feedback">Feedback</h4>

  <button (click)="onClickSubmit()">Submit</button>
</ion-content>
  