.img-div{
    text-align: center;
    width: 100%;
    margin-top: 11%;
}
.input-line{
    border-top: 1px solid #707070;
    margin-left: 11px;
    margin-right: 32px;
}
button{
    background-color:rgb(223, 192, 55);
    border: 1px solid rgb(223, 192, 55);
    color: white;
    border-radius: 18px;
    width: 58%;
    margin-top: 30px;
    padding: 9px;
    margin-left: 74px;
}
form{
    margin-top: 30px;
    margin-left: 19px;
    margin-right: 8px;
}
h4{
    margin-top: 50px;
    margin-left: 111px;
}
p{
    color: #707070;
    text-align: center;
}
ion-select .select-placeholder .select-text {
    color: #707070 !important;
    opacity: 0.5 !important;
}