ion-content {
    text-align: center;
}

.content{
    display: flex;
    color: #707070;
    margin-left: 2%;
}

button {
    width: 29%;
    margin-top: 18%;
    height: 5%;
    background: #707070
}