.content {
    display: flex;
    h2 {
        margin-top: 11px;
    }
}

div{
    color: #707070;
}

button{
    text-align: center;
    background-color: #707070;
    padding: 2%;
    border-radius: 22px;
    width: 40%;
    margin-top: 10%;
    height: 40px;
    font-size: 15px;
    margin-left: 7%;
}