<ion-content>
  <div class="content">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="base/tabs/UserHome"></ion-back-button>
    </ion-buttons>
    <h2> Recent Appointments</h2>
    </div>
    <div>
      <!-- <h4>Recent Appointments</h4> -->
        <div class="row app-div" *ngFor="let appointment of recentAppointments" (click)="clickAppointment(appointment.appointment_id)">
          <div class="col-2 service-icon">
            <ion-icon *ngIf="!appointment?.image" class="app-icon" name="person"></ion-icon>
            <img *ngIf="appointment?.image" class="app-img" [src]="prefix + appointment.image">
          </div>
          <div class="col-4 service-info">
            <p class="service-name2">{{appointment.service_name}}</p>
            <p>{{appointment.charges}} PKR</p>
          </div>
          <div class="col-6" style="margin-top:7%;">
            <div class="row star-div">
              <div *ngFor="let point of appointment.points" style="width:18%;">
                <ion-icon class="star-icon" *ngIf="point" style="color:rgb(223, 192, 55);" name="star"></ion-icon>
                <ion-icon class="star-icon" *ngIf="!point" style="color:rgb(223, 192, 55);" name="star-outline"></ion-icon>
              </div>
            </div>
            <div class="row">
              <p>{{appointment.date}}</p>
            </div>
          </div>
        </div>
  </div>

</ion-content>
