.content{
    color: #707070;
    margin-left: 4%;
    background-color: white;
}
// h3, h4 {
//     font-weight: 600;
// }
.service-div {
    text-align: center;
}

.app-div {
    border: 1px solid #707070;
    border-radius: 25px;
    display: flex;
    width: 88%;
    margin-left: 4%;
    margin-bottom: 3%;
    background: #E4E4E4;
}

.app-icon {
    border: 1px solid darkgray;
    border-radius: 50%;
    font-size: 221%;
    margin: 10px;
    margin-top: 24px;
}

.app-img {
    border: 1px solid darkgray;
    border-radius: 50%;
    margin: 10px;
    margin-top: 15px;
    width: 78%;
}

.service-icon {
    width: 29%;
    text-align: center;
}

.service-info {
    width: 28%;
}

.service-name2 {
    margin-top: 26%;
}

.star-div{
    display: flex;
    width: 100%;
    padding-left: 15%;
}

.star-icon {
    font-size: 120%;
}
